/* Implementing a color scheme in Tailwind CSS using variables and media query for dark mode. */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-normal font-sans;
  font-size: 16px;
  font-kerning: 0.5px; 
}

.container {
  @apply bg-white rounded-lg 
}

.inner-container {
  @apply relative grid justify-center top-1/2
}

input {
  @apply bg-gray-200 focus-visible:outline-none
}
/* input {
  @apply bg-gray-200 h-10 rounded-lg py-3 ps-3
  text-gray-900/90
  placeholder:text-gray-900/60 
  border border-black/10
  focus-visible:outline-none 
focus-visible:border-blue-400;
} */
