/* Implementing a color scheme in Tailwind CSS using variables and media query for dark mode. */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-normal font-sans;
  font-size: 16px;
  font-kerning: 0.5px; 
  background-color: #EEEEEE;
}

.container {
  @apply bg-white rounded-lg 
}

.inner-container {
  @apply relative grid justify-center top-1/2
}

input {
  @apply bg-gray-200 focus-visible:outline-none h-9 w-full ps-2
}

.main-body {
  @apply mx-16 lg:mx-28 mb-10
}

textarea {
  @apply bg-gray-200 focus-visible:outline-none w-full p-2
  rounded-lg border border-black/10
  focus-visible:border-blue-400
  target:border-blue-400
}

/* input {
  @apply bg-gray-200 h-10 rounded-lg py-3 ps-3
  text-gray-900/90
  placeholder:text-gray-900/60 
  border border-black/10
  focus-visible:outline-none 
focus-visible:border-blue-400;
} */
